<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/jokes.css') }}">
</head>
<body>
  {% extends "navbar.html" %}
  {% block content %}
    <div class="title">
      <h1> Generic Joke Forum </h1>
      <h2> A Nutritious Joke Forum </h2>
    </div>
  <h2> These are the genres that feature on this site</h2>
  <div class="grid-container-genres">
  {% for g in genres %}
    <div class="container">
        <h2><a href={{ url_for('filterjokes', search=g) }}>{{ g }}</a></h2>
    </div>
  {% endfor %}
  </div>
  <h2> Recent posts </h2>
  <div class="grid-container">
    {% for j in jokes %}
      <div class="container">
        <h2><b>A <a href={{ url_for('filterjokes', search=j["genre"]) }}>{{ j["genre"] }}</a> joke by <a href={{ url_for('searchuser', search=j["user"]) }}>{{ j["user"] }}</a></b></h2>
        <p> {{ j["joke"] }} </p>
	<hr></hr>
	<p class="time"><b> Time posted: </b> {{ j["time"] }} </p>
	<div class="btn-group">
	<a href={{ url_for('newcomment', jokeid=j["jokeid"]) }}><button class="button">Comments</button></a>
         {% if session["username"] == j["user"] %}
          <form action="{{ url_for('deletepost') }}" method=post>
            <input type="hidden" name="jid" value="{{ j["jokeid"] }}">
            <input type="hidden" name="pagetype" value="homepage">
            <button class="button" type="submit" value="Delete">Delete</button>
          </form>
          <a href="{{ url_for('updatethepost', postid=j["jokeid"]) }}"><button class="button">update post</button></a>
        {% endif %}
      </div> 
      </div>
    {% endfor %}
  </div>
 </div>
 {% endblock %}}
</body>
